<h2>Inposter - Social Network beta v0.1</h2>
<a><button (click)="myFunction()">Change Password</button></a>
<a><button (click)="LogOut()">Logout</button></a>

<br>
<br>
<br>
<br>
<a href="http://localhost:4200/GroupCreate"><button>Create Group</button></a>
<a href="http://localhost:4200/groups"><button>My Groups</button></a>

<br>
<br>
<br>
<br>
<form [formGroup]="forma" (ngSubmit)="onSubmit()">
<div  class="container">
  <label>Post Text : </label>
  <input type="text" formControlName="post"  name="post" required>


  <br>
  <button type="submit">Post</button>

  <br>


</div>
</form>
<br>
<br>
<br>
<br>
<h4>My Posts</h4>
<app-posts [posts]="posta">
</app-posts>
