<h2>Inposter - Social Network beta v0.1</h2>
<div class="navBar">
  <a><button (click)="changePassword()" id="changePassword">Change Password</button></a>
  <a><button (click)="LogOut()" id="Logout">Logout</button></a>

  <a href="http://localhost:4200/GroupCreate"><button id = "groupCreate">Create Group</button></a>
  <a href="http://localhost:4200/getCurrentUser"><button id = "myProfile">My profile</button></a>
</div>
<form [formGroup]="formPost" (ngSubmit)="onSubmit()">
<div  class="container">
  <label class = "postTextLabel">Post Text : </label>
  <input type="text" formControlName="post"  name="post" id="postText" required>
  <br>
  <label class = "postTextLabel">Destination : </label>
  <select formControlName="groupList" name="groupList" id = "groupList">
    <option [ngValue]="null" readonly disabled >Choose post destination: </option>
    <option [ngValue]="0"> Personal/My profile </option>
    <option *ngFor ="let onegroup of allGroups" [ngValue] = "onegroup.id">{{onegroup.name}}  </option>
  </select>
  </div>
  <br>
  <div class="buttonContainer">
    <button type="submit" id="postSubmit">Post</button>
  </div>
  <br>



</form>
<br>
<br>
<br>
<br>
<h4>My Posts</h4>
<app-posts [posts]="allPosts">
</app-posts>
<h4>Feed</h4>
<app-all-posts [posts]="allFeedPosts">
</app-all-posts>


