<h2>Inposter - Social Network beta v0.1</h2>
<a><button (click)="changePassword()">Change Password</button></a>
<a><button (click)="LogOut()">Logout</button></a>

<br>
<br>
<br>
<br>
<a href="http://localhost:4200/GroupCreate"><button>Create Group</button></a>
<br>
<br>
<a href="http://localhost:4200/getCurrentUser"><button>My profile</button></a>
<br>
<br>
<form [formGroup]="formPost" (ngSubmit)="onSubmit()">
<div  class="container">
  <label>Post Text : </label>
  <input type="text" formControlName="post"  name="post" required>
  <select formControlName="groupList" name="groupList" id = "groupList">
    <option [ngValue]="null" readonly disabled >Choose post destination: </option>
    <option [ngValue]="0"> Personal/My profile </option>
    <option *ngFor ="let onegroup of allGroups" [ngValue] = "onegroup.id">{{onegroup.name}}  </option>
  </select>

  <br>
  <button type="submit">Post</button>

  <br>


</div>
</form>
<br>
<br>
<br>
<br>
<h4>My Posts</h4>
<app-posts [posts]="allPosts">
</app-posts>
<h4>Feed</h4>
<app-all-posts [posts]="allFeedPosts">
</app-all-posts>


