#\{\{post\.id\}\}{
  border-radius: 10px;

}
.postsContainer{
  background-color: #04e01a;
  display: flex;
  flex-direction: row;
  height:fit-content;
  padding: 20px;
  justify-items: center;
  border-radius: 20px;
}
.row1, .row2, .row3{
  display: flex;
  height:40px;
  flex-direction: column;
  justify-content: center;
  border: 2px solid blue;
  background-color: #86d4fa;
}



