<div *ngFor="let post of posts" class = "postsContainer">
  <label>User :  </label>
  <label>{{post.user}}</label>
  <hr>
  <label>Post DateTime :  </label>
  <label>{{post.creationDate}}</label>
  <hr>
  <label>Post Text :  </label>
  <label>{{post.content}}</label>
  <hr>
  <button name="LIKE" id="{{post.id}}" (click)="react($event)">Like | {{post.likes}}</button>
  <br>
  <button name="DISLIKE" id="{{post.id}}" (click)="react($event)">Dislike | {{post.dislikes}}</button>
  <br>
  <button name="HEART" id="{{post.id}}" (click)="react($event)">Heart | {{post.hearts}}</button>
  <br>
  <br>
  <br>
</div>
