

<h1 id="registerHeading">~JOIN US AND BECOME NEW USER~</h1>
<form [formGroup]="forma" (ngSubmit)="onSubmit()">
  <div  class="container">
    <label>Username : </label>
    <input type="text" formControlName="username" placeholder="Enter Username" name="username" required>
    <label>Password : </label>
    <input type="password" formControlName="password" placeholder="Enter Password" name="password" required>
    <label>Email : </label>
    <input type="email" formControlName="email" name="email" required>
    <label>FirstName: </label>
    <input type="text" placeholder="" formControlName="fname" name="fname" required>
    <label>LastName : </label>
    <input type="text" placeholder="" formControlName="lname" name="lname" required>
   <br>
    <div class = "buttonRower">
      <button type="submit">Register</button>
    </div>
    <br>
  </div>
</form>
<hr>
<div class="buttonContainer">
  <a href="http://localhost:4200/login"><button>Login</button></a>
</div>

