<style>
  Body {
    font-family: Calibri, Helvetica, sans-serif;
    background-color: pink;
  }
  button {
    background-color: #4CAF50;
    width: 300px;
    color: blue;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
  }

  .container {
    border-radius: 15px;
    margin-left: 20%;
    margin-right:20%;
  }

  .buttonContainer {
    width:100%;
    display: flex;
    justify-content: center;
  }
  form {
    border: 3px solid #f1f1f1;
  }
  input[type=text], input[type=password] ,input[type=email] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid green;
    box-sizing: border-box;
  }
  button:hover {
    opacity: 0.7;
  }
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin: 10px 5px;
  }

  #registerHeading{
    text-align: center;
  }


  .container {
    padding: 25px;
    background-color: blueviolet;
  }
</style>
<hr>

<h1 id="registerHeading">~JOIN US AND BECOME NEW USER~</h1>
<form [formGroup]="forma" (ngSubmit)="onSubmit()">
  <div  class="container">
    <label>Username : </label>
    <input type="text" formControlName="username" placeholder="Enter Username" name="username" required>
    <label>Password : </label>
    <input type="password" formControlName="password" placeholder="Enter Password" name="password" required>
    <label>Email : </label>
    <input type="email" formControlName="email" name="email" required>
    <label>FirstName: </label>
    <input type="text" placeholder="" formControlName="fname" name="fname" required>
    <label>LastName : </label>
    <input type="text" placeholder="" formControlName="lname" name="lname" required>
   <br>
    <button type="submit">Register</button>
    <br>
  </div>
</form>
<hr>
<div class="buttonContainer">
  <a href="http://localhost:4200/login"><button>Login</button></a>
</div>

