<p  *ngIf="a == 1" class="alert alert-success" >Old Passwords dont match</p>

<form [formGroup]="forma" (ngSubmit)="onSubmit()">

  <p>New Password</p>
  <input  formControlName="NewPassword" type="password"  placeholder="" required>
  <br>
  <p>Old Password</p>
  <input formControlName="OldPassword"   placeholder="" required type="text">
  <br>
  <p>Repeat Old Password</p>
  <input formControlName="OldPassword2"   placeholder="" required type="text">

  <input type="submit" value="Change Password" />
  <br>
  <button color="primary" (click)="back()" >Go Back</button>
</form>
<br>


<br>
<hr>
